<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Purchased Books</title>
</head>
<body>

<h2>List of Purchased Books</h2>
<form action="/recommendations/refresh" method="get">
    <button type="submit">View My Recommendations</button>
</form>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${purchasedBooks}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
